
#Chave de 2 API: De Gemini para ter o acesso ao modelo de gemini flash e de chatbot gerado pelo telegram
API_KEY_GEMINI = AIzaSyA2i3StOQNVDRsFurS_HQ2pRgSI6QuC1uI
API_KEY_CHATBOT = 8246030613:AAE1rKL3Ai6LXzsc5_hGhxgQVw31xhSC5pg


#Chave de segurança

SECRET_KEY = "30e513621d280d0b96f9ed754780708736e061306d30d0b0e1e3dd962a60d348"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30