# .gitignore

# Arquivos de ambiente e segredos
.env
*.json

# Arquivos do Python
venv/
__pycache__/
*.pyc

Arquivos de ambiente
.env

Banco de dados SQLite
*.db
*.db-journal

Arquivos de cache do Python
pycache/
*.pyc

Outros
.vscode/